@font-face {
  font-family: 'iconfont';  /* project id 1038823 */
  src: url('//at.alicdn.com/t/font_1038823_w44k02tjz2.eot');
  src: url('//at.alicdn.com/t/font_1038823_w44k02tjz2.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1038823_w44k02tjz2.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1038823_w44k02tjz2.woff') format('woff'),
  url('//at.alicdn.com/t/font_1038823_w44k02tjz2.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1038823_w44k02tjz2.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-41:before {
  content: "\e62b";
}

.icon-spin:before {
  content: "\e851";
}

.icon-ai-password:before {
  content: "\e63e";
}

.icon-yonghuming:before {
  content: "\e65c";
}

.icon-tel:before {
  content: "\e641";
}

.icon-Aa:before {
  content: "\e636";
}

.icon-jingshi:before {
  content: "\e66f";
}

.icon-icon-checkin:before {
  content: "\e615";
}

.icon-zhinanzhen:before {
  content: "\e61f";
}

