#ImgApp {
    overflow: hidden;
    position: relative;
    margin: 0 0 30px 0;
    width: 625px;
    height: 270px;
    border-radius: 5px;
    text-align: center;
}

#graphContainer{
    transition: all .6s ease-out;
    position: relative;
    width: 2500px;
    height: 270px;
}

.graph {
    width: 625px;
    height: 270px;
    border-radius: 8px;
}

#leftB,#rightB {
    position: absolute;
    width: 40px;
    height: 50px;
    top: 40%;
    font-size: 40px;
    background:  rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#leftB {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#rightB {
    display: block;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    right: 0px;
}

.icon{
    margin: 10px auto;
    font-size: 22px;
}

.points {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    letter-spacing: 10px;
    cursor: pointer;
}